/* CSS declarations go here */

body {
  background: rgb(40, 60, 80);
}

body, h1 {
  color: rgba(255, 255, 255, 0.5);
}

.tile {
  float: left;
  height: 1em;
  width: 1em;
  background: rgba(255, 255, 255, 0.5);
}

.tile.state-off {
  background: inherit;
}

.tile.state-on {
  background: rgba(255, 255, 255, 0.5); 
}


#game .matrix {
  width: 20em;
  height: 20em;
  margin: 1em auto 0 auto;
  background: rgba(0, 0, 0, 0.1);
}


#game .button-group {
  margin: 0 auto;
  width: 20em;
}

#game h1 {
  text-align: center;
}
