/* CSS declarations go here */

body {
  background: white;
}

.tile {
  float: left;
  height: 1em;
  width: 1em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 2em;
}

.tile.state-off1 {
  background: transparent;
  color: rgba(0, 0, 0, 0.15);
}

.tile.state-off2 {
  background: rgba(0, 0, 0, 0.05); 
  color: rgba(0, 0, 0, 0.20);
}

.tile.state-on1 {
  background: rgba(0, 0, 0, 0.20); 
  color: white;
}

.tile.state-on2 {
  background: rgba(0, 0, 0, 0.15); 
  color: white;
}



#game .matrix {
  width: 40em;
  height: 40em;
  margin: 1em auto 0 auto;
  background: transparent;
  font-style: italic;
  overflow: hidden;
}


#game .button-group {
  margin: 0 auto;
  width: 40em;
}

#game h1 {
  text-align: center;
}
